@model int

@{
    Layout = "";

    //Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js");
    //Html.AddCssFileParts("~/Plugins/Holibear.Widget.AcceptRejectSubmit/Content/AcceptRejectOrderButton.css");
    //Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/themes/custom/custom.css");
}
@*@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoModel



    @{
        var pictureUrl = ViewData["pictureUrl"]?.ToString() ?? "";
        var link = ViewData["link"]?.ToString() ?? "";
        var dataTransition = ViewData["dataTransition"]?.ToString() ?? "";
        var text = ViewData["text"]?.ToString() ?? "";
        var alttext = ViewData["alttext"]?.ToString() ?? "";

        if (!string.IsNullOrEmpty(pictureUrl))
        {
            if (!string.IsNullOrEmpty(link))
            {
                <a href="@link" aria-label="@alttext">
                    <img src="@pictureUrl" data-thumb="@pictureUrl" data-transition="@dataTransition" alt="@alttext" title="@text" />
                </a>
            }
            else
            {
                <img src="@pictureUrl" data-thumb="@pictureUrl" data-transition="@dataTransition" alt="@alttext" title="@text" />
            }
        }
    }*@

@*@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, Nop.Web.Framework

    @using Microsoft.AspNetCore.Mvc.ViewFeatures
    @using Nop.Web.Framework.UI
    @using Nop.Web.Framework.Extensions
    @using System.Text.Encodings.Web*@

@if (Model == 0)
{ }
else
{
<script>


    $(document).ready(
        function () {

            $('#AcceptButton').click(function () {

                let path = window.location.href;
                let id = path.split('/')[path.split('/').length - 1];
                let orderStatus = { "OrderId": id, "OrderStatus": "Complete", "OrderComment": "" }

                $.ajax({
                    url: "/WidgetsAcceptRejectButton/OrderStatusUpdate",
                    contentType: 'application/json; charset=UTF-8',
                    dataType: "json",
                    data: { orderStatus: JSON.stringify(orderStatus) }
                }).done(function () {
                    window.location.href = "/";
                });
            });

            $('#RejectButton').click(function () {

                $('.rejectComment').show();


            });

            $('#RejectButtonSend').click(function () {

                let path = window.location.href;
                let id = path.split('/')[path.split('/').length - 1];
                let orderStatus = {
                    "OrderId": id, "OrderStatus": "NotComplete", "OrderComment": $('#rejectComment').val()
                }

                $.ajax({
                    url: "/WidgetsAcceptRejectButton/OrderStatusUpdate",
                    contentType: 'application/json; charset=UTF-8',
                    dataType: "json",
                    data: { orderStatus: JSON.stringify(orderStatus) }
                }).done(function () {
                    alert('We will complete the order as soon as possible');
                    window.location.href = "/";
                });
            });
        }
    );
</script>

<div class="AcceptRejectWidget">
    <div class="acceptRejectButtonGroup">
        <div>Numbers of Edits : @Model</div>
        <button id="AcceptButton" class="AcceptRejectButton">Accept</button>
        <button id="RejectButton" class="AcceptRejectButton">Reject</button>
    </div>
    <div class="rejectComment">
        <textarea name="rejectComment" cols="40" rows="5" type="text" id="rejectComment"></textarea>
        <button id="RejectButtonSend" class="AcceptRejectButton">Reject Comment Submit</button>
    </div>
</div>
}
